#category-bar
    .category-bar-items#category-bar-items
        .category-bar-item(id='笔记')
            a(href="/categories/笔记/") 笔记
        .category-bar-item(id='随文')
            a(href="/categories/随文/") 随文
        .category-bar-item(id='工具')
            a(href="/categories/工具/") 工具
    a.category-bar-more(href="/categories/") 更多